@using MovieProDemo.Models.TMDB
@model ActorDetail



<div class="page-single movie-single cebleb-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col">
                <div class="mv-ceb">
                    <img src="@Model.profile_path" alt="">
                </div>
            </div>
            <div class="col">
                <div class="movie-single-ct">
                    <h1 class="bd-hd">@Model.name</h1>

                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv">
                                <li class="active"><a href="#overviewceb">Biography</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="overviewceb" class="tab active">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <p>@Model.biography</p>
                                        </div>
                                        <div class="col-md-4 col-xs-12 col-sm-12">
                                            <div class="sb-it">
                                                <h6>Full Name:  </h6>
                                                <p>@Model.name</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Date of Birth: </h6>
                                                <p>@Model.birthday</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Place of Birth:</h6>
                                                <p>@Model.place_of_birth</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a class="text-primary font-weight-bolder" href='javascript:history.go(-1)'>Back to Movie Detail</a>
        </div>
    </div>
</div>